<%- include('../template/header') -%>
<!-- Wrapper -->
<div class="wrapper">	

    <!-- Section Started -->
    <div class="section started section-title" id="section-started">

        <!-- background -->
        <div class="video-bg">
            <div class="video-bg-mask"></div>
            <div class="video-bg-texture" id="grained_container"></div>
        </div>

        <!-- started content -->
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <h1 class="h-title"><%- header.nav.works %></h1>
                    <div class="h-subtitles">
                        <div class="h-subtitle typing-bread">
                            <p class="breadcrumbs">
                                <a href="/"><%- header.nav.home %></a> / <%- header.nav.works %>
                            </p>
                        </div>
                        <span class="typed-bread"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- mosue button -->
        <a href="#" class="mouse_btn" style="display: none;"><span class="icon fas fa-chevron-down"></span></a>

    </div>

    <!-- Works -->
    <div class="section works" id="section-portfolio">
        <div class="content">
        
            <!-- portfolio filter -->
            <div class="filter-menu content-box">
                <div class="filters">

                    <% for (var cat in projectcategories) { %>
                        <div class="btn-group">
                            <label data-text="<%= projectcategories[cat]['title_' + activeLang] %>" class="<%= cat === 'box-item' ? 'glitch-effect' : '' %>"><input type="radio" name="fl_radio" value=".<%= projectcategories[cat].value %>"><%= projectcategories[cat]['title_' + activeLang] %></label>
                        </div>
                    <% } %>
                </div>
            </div>
            
            <!-- portfolio items -->
            <div class="box-items portfolio-items">

                <% projects.forEach((project) => { %>
                    <div class="box-item <%= project.category.join(' ') %>">
                        <div class="image">
                            <a href="#<%= project.id %>" class="has-popup-media hover-animated">
                                <img src="<%= project.image %>" alt="" class="wp-post-image">
                                <span class="info circle">
                                    <span class="centrize full-width">
                                        <span class="vertical-center">
                                            <span class="icon fas fa-plus"></span>
                                            <span class="desc">
                                                <span class="category">
                                                    <% project.category.forEach((cat) => { %>
                                                        <%= projectcategories[cat]['title_' + activeLang] %>
                                                    <% }); %>
                                                </span>
                                                <span class="name"><%= project.title %></span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div id="<%= project.id %>" class="popup-box mfp-fade mfp-hide">
                            <div class="content">
                                <div class="image" style="background-image: url(<%= project.image %>);"></div>
                                <div class="desc single-post-text">
                                    <div class="category">
                                        <% project.category.forEach((cat) => { %>
                                            <%= projectcategories[cat]['title_' + activeLang] %>
                                        <% }); %>
                                    </div>
                                    <h4><%= project.title %></h4>
                                    <% if (project.description !== "") { %>
                                        <p><%= project[activeLang].description %></p>
                                    <% } %>
                                    <% if (project.projectpath !== "") { %>
                                        <a class="btn hover-animated" href="<%= project.projectpath %>">
                                            <span class="circle"></span>
                                            <span class="lnk"><%= lang.viewproject %></span>
                                        </a>
                                    <% } %>
                                    <% if (project.sourcecode !== "") { %>
                                        <a class="btn hover-animated" href="<%= project.sourcecode %>">
                                            <span class="circle"></span>
                                            <span class="lnk"><%= lang.viewcode %></span>
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>

            </div>

            <div class="clear"></div>
        </div>
    </div>	

</div>
<%- include('../template/footer') -%>